html {
    opacity: 1!important;
    transition: opacity .3s;
}

section {
    padding-top: 20px;
}

.section-title,
.tabs>h3 {
    color: var(--primary);
    padding-top: 25px;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: var(--header-font, inherit, sans-serif);
    font-size: 1.5em;
}


/* ROTATING SLIDER */

.rotating-slider {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.rotating-slider li img {
    height: auto;
}

.mobile {
    display: none!important;
}

@media (max-width: 800px) {
    .rotating-slider li img {
        display: none!important;
    }
    .rotating-slider li img.mobile {
        display: inline!important;
    }
}

.bx-wrapper {
    padding: 0 !important;
}

.wdgt-slider-block.brands .bx-wrapper {
    margin: 0 0 20px !important;
}

.bx-controls.bx-has-pager {
    height: 0 !important;
}

.bx-wrapper .bx-pager {
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
    bottom: 0;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #919d9d;
    text-indent: -9999px;
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    background: var(--primary);
    opacity: 1;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #00cf5d;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=75);
    opacity: 0.75;
}

.bx-viewport {
    height: auto!important;
}


/* Next and previous arrows on the sliders setup from tablet first */

.bx-controls-direction {
    display: none;
}

@media screen and (min-width: 768px) {
    .bx-controls-direction a {
        transition: all .2s;
        margin-top: -80px;
    }
    .bx-next {
        -webkit-transform: translateX(-6px);
        transform: translate(-6px);
    }
    .bx-prev {
        -webkit-transform: translateX(6px);
        transform: translate(6px);
    }
    .bx-next:hover {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
    }
    .bx-prev:hover {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
    }
    .bx-prev:before,
    .bx-next:before {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    /* transform required to rotate the arrows to the correct position */
    .bx-next:before {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        top: 300px;
        left: 0;
    }
    .bx-prev:before {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        top: 300px;
        left: -683px;
    }
}


/* desktop specific positioning of the prev arrow for all devices that view the full dimensions of the site */

@media screen and (min-width: 900px) {
    .bx-prev:before {
        left: -903px
    }
    /* vertically centres arrows on desktop */
    .bx-controls-direction a {
        margin-top: -20px;
    }
}


/* mobile specific dimensions */

@media screen and (max-width: 767px) {
    /* height and width sets the size of the arrow */
    .bx-controls-direction a {
        height: 20px;
        width: 20px;
        top: 50%;
        margin-top: -10px;
    }
    .bx-prev,
    .bx-next {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    /* due to a transform bug found by the ever-annoying Mitch, overflow-x overide is required to prevent a breach of the mobile dimensions */
    .bx-next {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        background: none;
        overflow-x: hidden;
    }
    .bx-prev {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        background: none;
        overflow-x: hidden;
    }
}

@media (max-width:600px) {
    .bx-wrapper .bx-pager {
        margin-bottom: -10px;
    }
}


/* TWO COL  */

:root {
    --spacing: 2px;
}

.col {
    display: flex;
    justify-content: space-between;
    margin: calc(-1 * var(--spacing));
}

.col a {
    width: 100%;
    padding: var(--spacing);
}

.col img {
    width: 100%!important;
}

.col>div {
    display: flex;
}

.no-top {
    padding-top: 0px!important;
}

@media (max-width:750px) {
    .four.col {
        flex-direction: column;
    }
}

@media (max-width:620px) {
    .three.col {
        flex-direction: column;
    }
}

@media (max-width:500px) {
    .two.col {
        flex-direction: column;
    }
}


/* FIXTURES */

.fixtures {
    display: flex;
    margin: calc(-1 * var(--spacing));
}

.fixture-row {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.matchup {
    padding: var(--spacing);
    display: flex;
    flex-grow: 1;
}

.matchup a {
    display: flex;
    align-items: center;
    width: 100%;
}

.matchup a img {
    flex-grow: 1;
    width: 50%;
}

@media screen and (max-width:650px) {
    .fixture-row {
        flex-direction: column;
    }
}